<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Retrospect Apparel Co.</title>

        <!-- STYLE LINKS -->
        <link href="style.css" rel="stylesheet" >
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:300,400,500,700|Source+Code+Pro:400,700;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat%3Ai%2Cbi%2C700%2C400display=swap" rel="stylesheet" nonce="">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/679532c273.js" crossorigin="anonymous"></script>
        <!-- ICON -->
        <link rel="icon" href="images/retrospect-icon.png" type="image/png">
    </head>

    <body>
        <!-- NAVBAR -->
        <%- include ('partials/admin-navbar')  %>


        <% if(msg){ %>
        <div class="msg-wrapper">
          <div class="success-msg" id="success-msg">
            <%= msg %>
            <div class="error-msg-btn" onclick="hideMSG()">x</div>
          </div>
        </div>
        <%} %>

        <main class="admin-dash">
            <h1>Seller Dashboard</h1>

            <h2>Inventory Management</h2>

            <!-- INVENTORY TRACKING --> 
            <div class="inventory-tracking admin-sec">

              <% all_items.forEach((item) => {%>
              <div class="admin-card">
                  <h2> <%= item.item_name %></h2>
                  <img src="../images/items/<%= item.item_photo %>" alt="shirt pic" class="inv-item-card">
                  <ul class>
                      <li> Price: <%= item.price %></li>
                      <% let total_stock = 0                    %>
                      <% item.availability.forEach((availability) => {       %>
                      <%    total_stock += availability.stock   %>
                      <%})                                      %>
                      <li> Total Stock: <%= total_stock %></li>
                  </ul>

                  <form action="/edit-item" method="post">
                    <input type="hidden" name="edit_item" value="<%=item._id%>">
                    <button class="item-btns" type="submit"> Edit Item </button>
                  </form>
                  <a href="/delete-item/<%=item._id%>"><input class="item-btns" type="button" name="inv-del" value="Delete Item"></input></a>
              </div>
              <% }); %>

              <div class="item-edit-modal" id="item-modal">
                <div class="item-edit-modal-content">
                  Hello its me
                  <form class=item-edit-form action="update-item" method="POST">
                    <label for="product-name"> Product Name<label><br>
                    <input type="text" name="product-name" value=""><br>
                    <label for="product-photo"> Product Photo<label><br>
                    <input type="button" name="product-photo" value="Upload"><br>
                    <label for="product-price"> Unit price<label><br>
                    <input type="text" name="product-price" value=""><br>
                    <label for="product-stock"> Stock Amount<label><br>
                    <input type="number" name="product-stock" value=""><br>
                    <input type="submit" name="product-save" value="Save Changes">
                    <button type="button" class="close">Close</button>
                  </form>
                </div>
              </div>

              <div class="admin-card additem">
                  <a href="/create-item"><input class="additem-btns" type="button" name="inv-edit" value="+ ADD ITEM"></input></a>
              </div>

                <div class="item-edit-modal" id="item-add-modal">
                  <div class="item-edit-modal-content">
                    <form class=item-edit-form action="add-item" method="POST">
                      <label for="product-name"> Product Name<label><br>
                      <input type="text" name="product-name" value=""><br>
                      <label for="product-photo"> Product Photo<label><br>
                      <input type="button" name="product-photo" value="Upload"><br>
                      <label for="product-price"> Unit price<label><br>
                      <input type="text" name="product-price" value=""><br>
                      <label for="product-stock"> Stock Amount<label><br>
                      <input type="number" name="product-stock" value=""><br>
                      <input type="submit" name="product-add" value="Add Item">
                      <button type="button" class="close">Close</button>
                    </form>
                  </div>
                </div>
            </div>
			
			<h2>Blog Management</h2>

            <!-- BLOG TRACKING --> 
            <div class="inventory-tracking admin-sec">

              <% all_blogs.forEach((blog) => {%>
              <div class="admin-card">
                  <h2> <%= blog.blog_name %></h2>
                  <img src="../images/items/<%= blog.blog_photo %>" alt="shirt pic" class="inv-item-card">
                  <ul class>
                      <li> Name: <%= blog.blog_name %></li>
                      <li> Description: <%= blog.description %></li>
                  </ul>

                  <form action="/edit-blog" method="post">
                    <input type="hidden" name="edit_blog" value="<%=blog._id%>">
                    <button class="blog-btns" type="submit"> Edit Blog </button>
                  </form>
                  <a href="/delete-blog/<%=blog._id%>"><input class="blog-btns" type="button" name="inv-del" value="Delete Blog"></input></a>
              </div>
              <% }); %>

              <div class="admin-card additem">
                  <a href="/create-blog"><input class="additem-btns" type="button" name="inv-edit" value="+ ADD BLOG"></input></a>
              </div>
            </div>
			
			

          <h2>Admin User Management</h2>
            <div class = "container">     
                  <input type="text" id="search-input" placeholder="Search User" />
                    <button id="search-button" onclick="searchUsers()">Search</i></button>              
            </div>
              <div class="admin-columns">
                <div class="regular-users-column">
                  <% all_users.forEach((user) => { %>
                  <% if(user.user_type == 0) { %>
                  <div class="admin-UM admin-sec regular-user">
                    <div class="regular-card">
                      <h2><%= user.username %></h2>
                      <% let user_type = "Regular User"; %>
                      <h3>User Type: <%= user_type %></h3>
                      <form action="/edit-user" method="post">
                        <input type="hidden" name="user_id" value="<%= user._id %>">
                        <button class="user-btns" type="submit" name="edit-user">Edit User Details</button>
                      </form>
                      <a href="/delete-user/<%= user._id %>">
                        <button class="user-btns" type="button" name="delete-user">Delete User</button>
                      </a>
                    </div>
                  </div>
                  <% } %>
                  <% }) %>
                </div>
              
                <div class="admins-column">
                  <% all_users.forEach((user) => { %>
                  <% if(user.user_type == 1) { %>
                  <div class="admin-UM admin-sec admin">
                    <div class="admin-card2">
                      <h2><%= user.username %></h2>
                      <% let user_type = "Admin"; %>
                      <h3>User Type: <%= user_type %></h3>
                      <form action="/edit-user" method="post">
                        <input type="hidden" name="user_id" value="<%= user._id %>">
                        <button class="user-btns" type="submit" name="edit-user">Edit User Details</button>
                      </form>
                      <a href="/delete-user/<%= user._id %>">
                        <button class="user-btns" type="button" name="delete-user">Delete User</button>
                      </a>
                    </div>
                  </div>  
                  <% } %>
                  <% }) %>
                </div>
              </div>

              <script>
                function searchUsers() {
                  var searchInput = document.getElementById("search-input").value.toLowerCase();
                  var regularUsers = document.getElementsByClassName("regular-user");
                  var admins = document.getElementsByClassName("admin");
              
                  Array.from(regularUsers).forEach(function(user) {
                    var username = user.querySelector("h2").textContent.toLowerCase();
                    if (username.includes(searchInput)) {
                      user.style.display = "block";
                    } else {
                      user.style.display = "none";
                    }
                  });
              
                  Array.from(admins).forEach(function(user) {
                    var username = user.querySelector("h2").textContent.toLowerCase();
                    if (username.includes(searchInput)) {
                      user.style.display = "block";
                    } else {
                      user.style.display = "none";
                    }
                  });
                }
              </script>

            <div class="item-edit-modal" id="admin-edit-modal">
              <div class="item-edit-modal-content">
                <form class=admin-add-form action="add-admin" method="POST">
                  <label for="admin-name"> Username Name<label><br>
                  <input type="text" name="admin-name" value=""><br>
                  <label for="admin-pass"> Admin Password<label><br>
                  <input type="text" name="admin-password" value=""><br>
                  <input type="submit" name="admin-add" value="Create Admin User">
                  <button type="button" class="close" onclick="">Close</button>
                </form>
              </div>
            </div>

            <div class="admin-card additem">
              <a href="/create-admin"><input class="additem-btns" type="button" name="inv-edit" value="Create Admin" ></input></a> <!--id="myBtn-modal-add-user"-->
            </div>

            <div class="item-edit-modal" id="admin-add-modal">
              <div class="item-edit-modal-content">
                <form class=admin-add-form action="add-admin" method="POST">
                  <label for="admin-name"> Username Name<label><br>
                  <input type="text" name="admin-name" value=""><br>
                  <label for="admin-pass"> Admin Password<label><br>
                  <input type="text" name="admin-password" value=""><br>
                  <input type="submit" name="admin-add" value="Create Admin User">
                  <button type="button" class="close" onclick="">Close</button>
                </form>
              </div>
            </div>

<a id="current_orders"><h2>Current Orders</h2></a>

<div class="orders-container">
  <% const orderStatuses = ['Waiting for Payment Confirmation.', 'Payment Successful! Preparing your Order.', 'Out for Delivery.'   ]; %>
  <% orderStatuses.forEach((status) => { %>
  <div class="order-column">
    <h3><%= status %></h3>
    <% orders.filter(order => order.status === status).forEach((order) => { %>
    <div class="current-orders admin-sec">
      <div class="admin-card orders-card">
        <h2><%= order.username %></h2>
        <h4>Order #<%= order._id %></h4>
        <h4>Status: <%= order.status %></h4>
        <h4>Date Ordered: <%= order.date_ordered %></h4>
        <% 
        let num_items = 0;
        order.items.forEach((item) => {
          num_items += item.quantity;
        });
        %>
        <h4>Number of Items: <%= num_items %> </h4>

        <form action="/update-order-status" method="post">
          <input type="hidden" name="order_id" value="<%= order._id %>">
          <label for="order_status">Edit Order Status</label><br>
          <select name="order_status" id="order_status">
            <option value="Waiting for Payment Confirmation."> Waiting for Payment Confirmation. </option> 
            <option value="Payment Successful! Preparing your Order."> Payment Successful! Preparing your Order. </option> 
            <option value="Out for Delivery."> Out for Delivery. </option> 
            <option value="Order Received."> Order Received. </option> 
          </select>

          <button class="order-btns" type="submit"> Update Status </button>
        </form>

        <a href="/cancel-order/<%= order._id %>"><input class="order-btns" type="button" name="order-cancel" value="Cancel Order"></input></a>
      </div>
    </div>
    <% }) %>
  </div>
  <% }) %>
</div>
<br><br><br>

<a id="current_orders"><h2>Past Orders</h2></a>

<a href="/view-past-orders">
  <button> View All Past Orders </button>
</a>

<div class="orders-container">
  <div class="order-column">
    <% past_orders.forEach((order) => { %>
    <div class="current-orders admin-sec">
      <div class="admin-card orders-card">
        <h2><%= order.username %></h2>
        <h4>Order #<%= order._id %></h4>
        <h4>Status: <%= order.status %></h4>
        <h4>Date Ordered: <%= order.date_ordered %></h4>
        <h4>Date Delivered: <%= order.date_delivered %></h4>
        <% 
        let num_items = 0;
        order.items.forEach((item) => {
          num_items += item.quantity;
        });
        %>
        <h4>Number of Items: <%= num_items %> </h4>

        <form action="/update-order-status" method="post">
          <input type="hidden" name="order_id" value="<%= order._id %>">
          <label for="order_status">Edit Order Status</label><br>
          <select name="order_status" id="order_status">
            <option value="Waiting for Payment Confirmation."> Waiting for Payment Confirmation. </option> 
            <option value="Payment Successful! Preparing your Order."> Payment Successful! Preparing your Order. </option> 
            <option value="Out for Delivery."> Out for Delivery. </option> 
            <option value="Order Received."> Order Received. </option> 
          </select>
          <button class="order-btns" type="submit"> Update Status </button>
        </form>

      </div>
    </div>
    <% }) %>
  </div>
</div>

            
        </main>
    </body>

    <!-- Inventory Management Modal -->
    <script>
      var modal = document.getElementById("item-modal");
      var addModal = document.getElementById("item-add-modal");
      var addUserModal = document.getElementById("admin-add-modal");

      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");
      var btnAdd = document.getElementById("myBtn-modal");
      var btnAddUser = document.getElementById("myBtn-modal-add-user");
      // Get the <span> element that closes the modal
      var span = document.querySelector('.close');

      // When the user clicks on the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
      }
      btnAdd.onclick = function() {
        addModal.style.display = "block";
      }
      btnAddUser.onclick = function() {
        addUserModal.style.display = "block";
      }


      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

    </script>

    <!-- Hide Success MSG -->
    <script>
      function hideMSG(){
        const msg = document.getElementById("success-msg");
        msg.style.display = "none";
        msg.style.backgroundColor = "rgba(0, 120, 0, 0.9)";
      }
    </script>
</html>
