<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile - Retrospect Apparel Co.</title>
    
        <!-- STYLE LINKS -->
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:300,400,500,700|Source+Code+Pro:400,700;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat%3Ai%2Cbi%2C700%2C400display=swap" rel="stylesheet" nonce="">
        <link rel="icon" href="images/retrospect-icon.png" type="image/png">
        <script src="https://kit.fontawesome.com/679532c273.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <!-- NAVBAR -->
        <% if(curr_user){                                   %>
        <%      if(curr_user.user_type == 0) {              %>
        <%-         include ('partials/user-navbar')        %>
        <%      } else if (curr_user.user_type > 0){        %>
        <%-          include ('partials/admin-navbar')      %>
        <%      }                                           %>
        <%} else{                                           %>
        <%-     include ('partials/navbar')                 %>
        <%}                                                 %>

        <main class="main-profile">
            <h1>My Profile | <span><%= user.username %></span></h1>
            <!-- <div>
                <h2>Name</h2>
                <div>Garhy Aaron P. Guarnes</div>
            </div> -->
            <div class="profile-container">
                <h2>Email</h2>
                <div class="profile-content"><%= user.email %></div>
            </div>
            <div class="profile-container">
                <h2>Contact Number</h2>
                <div class="profile-content"><%= user.contact_no %></div>
            </div>
            <div class="profile-container">
                <h2>Shipping Address</h2>
                <div class="profile-content"> <%= user.address.addressline1 %>, <%= user.address.addressline2 %>, <%= user.address.city %>, <%= user.address.region %> </div>
            </div>
            <a href="/edit-profile">
                <input type="button" value="Edit Profile"></input>
            </a>
        </main>
    </body>
</html>